<nav class="nav-page" aria-label="date navigation">
    <div>
        <a class="nav-page-previous" href="{{ path }}?{{
            {
                cals: cals|join(' '),
                mode: mode,
                date: date|date_modify('-1 day')|date('Y-m-d'),
                staff: staff
            }
            |url_encode()
            |replace({"%20": "+"})
        }}">Previous</a>
        <a href="{{ path }}?{{
            {
                cals: cals|join(' '),
                mode: mode,
                date: 'today',
                staff: staff
            }
            |url_encode
            |replace({"%20": "+"})
        }}">Today</a>
        {% if now %}
        <a href="{{ path }}?{{
            {
                cals: cals|join(' '),
                mode: mode,
                date: 'now',
                staff: staff
            }
            |url_encode
            |replace({"%20": "+"})
        }}">This Hour</a>
        {% endif %}
        <a class="nav-page-next" href="{{ path }}?{{
            {
                cals: cals|join(' '),
                mode: mode,
                date: date|date_modify('+1 day')|date('Y-m-d'),
                staff: staff
            }
            |url_encode()
            |replace({"%20": "+"})
        }}">Next</a>
        {% if not path %}
        <a><button class="jump">Jump to Date</button></a>
        {% endif %}
    </div>
</nav>
